@using Microsoft.AspNet.Identity;
@model NguyenVanHa_BigSchool.ViewModels.FollowingViewModel
@{ ViewBag.Title = "Home Page"; }

<div class="row">
    <ul class="course">
        @foreach (var follow in Model.Followings)
        {
        <li>
            <div class="details">
                <span class="lecturer">
                    @follow.Name
                </span>
            </div>
            <a href="#" data-followee-id="@follow.Id" data-follower-id="@User.Identity.GetUserId()" class="js-unfollow">UnFollow</a>
        </li>
        }
    </ul>
</div>

@section scripts{
    <script src="/Scripts/jquery-3.4.1.js"></script>

    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="/Scripts/bootbox.min.js"></script>

    <script src="/Scripts/scripts.js"></script>
    <script>
        $('.js-unfollow').click(function () {
            var link = $(this);
            bootbox.confirm("Are you sure to cancel?", function () {
                var followeeId = link.attr('data-followee-id');
                var followerId = link.attr('data-follower-id');
                //$.post('/api/Followings/UnFollow', { FollowerId: followerId, FolloweeId: followeeId }).done(function () {
                //    link.remove();
                //}).fail(function () { alert('something failed!') });

                $.ajax({
                    url: "/api/unfollow/" + followerId + "/" + followeeId,
                    method: "DELETE"
                }).done(function () {
                    link.parents("li").fadeOut(function () {
                        this.remove();
                    });
                }).fail(function () {
                    alert("Something failed");
                });

            });
        });

    </script>
}